body{
    background-color: #E5F0EF;
    margin: 0;
}

.site_wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

p{
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
    padding-left: 7px;
    font-size: 14px;
    color: #00454E;
}

h3, h2{
    font-family: proxima-nova, sans-serif;
    padding-left: 7px;
}

h2{
    color: #9B3C7D;
    margin: 5px 0;
    font-style: italic;
}

h3{
    color: #00454E;
}

.date_time{
    color: #9B3C7D;
    font-size: 16px;
}

i{
    color: #00454E;
}



.logo_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}


.house{
    background-color: white;
    padding: 12px 12px 13px 13px;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 lightgrey, 0 6px 20px 0 lightgrey;
}

.house_align{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.fa-house{
    font-size: 22px;
}

.upcoming_img> img{
    width: 100%;
    height: 100%;
}

.upcoming_img{
    padding: 30px 0;
}



.section_header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 240px;
    width: 60%;
    border-radius: 80px 80px;
    box-shadow: 0 8px 16px 0 lightgrey, 0 6px 20px 0 lightgrey;
}


/* - - - - - - - - - - - - EVENT CARDS - - - - - - - - - - - - - -*/

.event_card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px 12px;
    background-color: white;
    box-shadow: 0 8px 16px 0 lightgrey, 0 6px 20px 0 lightgrey;
}

.event_card_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.padeltennis_img{
    height: 250px;
    width: 340px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.photo_img{
    height: 250px;
    width: 340px; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


/* - - - - - - - - - - - - Button - - - - - - - - - - - - - -*/



.btn_settings{
    border-color: #44B1AB;
    border-radius: 50px;
    border-width: 4px;
    padding: 7px 60px;
    transition-duration: 0.4s;
    color: #44B1AB;
    font-size: 20px;
    font-weight: 700;
    font-family: proxima-nova, sans-serif;
}

.btn_settings:hover{
    background-color: #44B1AB;
    color: white;
}

.settings{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 40px;
}

.back_frontpage{
    display: none;
}

/* - - - - - - - - - - - - Footer section - - - - - - - - - - - - - -*/

.fa-instagram{
    font-size: 1.8rem;
}

.fa-instagram:hover{
    color: #44B1AB;
    cursor: pointer;
}


footer{
    padding: 0 15px;
    background-color: #D5E6E5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - -*/
/*
    Main CSS is for PC layout
    First query is for tablet layout
    Second query is for smartphone layout
*/

@media only screen and (max-width: 1230px){

    .site_wrapper{
        width: 800px;
    }

    .section_header{
        margin: 0 120px;
    }

    .back_frontpage{
        display: none;
    }
}

@media only screen and (max-width: 847px){

    .site_wrapper{
        width: auto;
        margin: auto;
    }

    .event_card_container{
        justify-content: space-around;
    }

    .house_align{
        display: none;
    }

    .section_header{
        background-color: inherit;
        box-shadow: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    h2{
        padding: 0;
    }

    .back_frontpage{
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
        margin-top: 40px;
    }

    .btn_back_frontpage{
        border-color: #44B1AB;
        border-radius: 50px;
        border-width: 4px;
        padding: 7px 60px;
        transition-duration: 0.4s;
        color: #44B1AB;
        font-size: 20px;
        font-weight: 700;
        font-family: proxima-nova, sans-serif;
    }
    
    .btn_back_frontpage:hover{
        background-color: #44B1AB;
        color: white;
    }

    .btn_settings{
        padding: 5px 30px;
        font-size: 16px;
        font-weight: 700;
    }

}