
/*----------Header Section----------*/

.header-container{
    display: flex;
}

.logo-img img{
    height: 2.5rem;
    align-items: center;
}

.profile-icon img{
    display: flex;
    float: right;
    height: 2.5rem;
}

.events-img img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    
}

    /*Search-box*/
.search-box{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
}

.search-box .search-icon:hover{
    color: #1399FC;
}

/*----------Event Section----------*/
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid green;
    width: 350px;
    margin: auto;
    text-align: left;
    align-items: center;    
}
        
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    .div4 { grid-area: 3 / 1 / 4 / 3; }

.p2 {
    font-size: large;
}

.p3 {
    font-size: medium;
}


.event-section {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: solid green;
    height: auto;
    width: fit-content;
    overflow: auto;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;        
}

.events {
    margin: 10px;
}

.event-section div {
    background-color: lightblue;
}

/*----------Footer Section----------*/

footer{
    position: absolute;
    background: #ddd;
    height: 10.8rem;
    width: 100%;
    margin-top: 44px;
    padding-top: 25px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content img{
    align-items: center;
    height: 1.5rem;
}

.footer-content p{
    font-size: 14px;
    max-width: 300px;
}

.socials-link{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -15px;
}

.socials-link a{
    text-decoration: none;
}

.socials-link a i{
    font-size: 1.1rem;
    width: 30px;
    transition: color .4s ease;
}

.socials-link a:hover i{
    color: aqua;
}



/* - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - -*/


@media only screen and (min-width: 847px){

    .event-section {
        flex-direction: row;       
    }
}

@media only screen and (max-width: 1920px){

    .event-section {

    }

}